{% extends 'plantilla/base.html' %}
{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Número de serie</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Número de serie</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Número de serie</h5>
            <button type="" class="btn btn-success"  data-bs-toggle="modal"
              data-bs-target="#myModaAgregar">Agregar número de serie</button>
              
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">CODIGO</th>
                    <th scope="col">Número de serie</th>
                    <th scope="col">Tipo documento</th>
                    <th scope="col">Empledo</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for numserie in numseries %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ numserie.numserie }}</td>
                    <td>{{ numserie.idtipodocumento.nombredocumento }}</td>
                    <td>{{ numserie.idusuario.nombrecompleto }}</td>
                    <td>
                      <a type="button" id="btnEditar" class="btn" data-bs-toggle="modal" data-bs-target="#myModal2{{ numserie.idnumserie }}">
                        <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #005eff;"></i>
                      </a>
                      <a href="{% url 'numeroserieEliminar' id=numserie.idnumserie %}" class="eliminar">
                        <i class="fa-solid fa-trash fa-2xl" style="color: #f71b02;"></i>
                      </a>
                    </td>


                     <!-- Modales de editar -->
                     <div class="modal fade" id="myModal2{{ numserie.idnumserie }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Editar categoria</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form  action="{% url 'numeroserieEditar' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="nombreTipo"><strong>Nombre</strong></label>
                                <input type="text" name="nombreSerie2" value="{{ numserie.numserie }}" class="form-control">
                                <input type="hidden" name="idnumserie2" value="{{ numserie.idnumserie }}"><br>
                                <label for="nombreTipo">Tipo documento</label><br>
                                <select name="iddocumento2" id="iddocumento2" class="form-control">
                                  <option value="{{numserie.idtipodocumento.idtipodocumento}}">{{numserie.idtipodocumento.nombredocumento}}</option>
                                  {% for documento in documentos %}
                                    <option value="{{documento.idtipodocumento}}">{{documento.nombredocumento}}</option>
                                  {% endfor %}
                                </select><br>
                                <label  for="nombreTipo">Empleado a usar serie</label><br>

                                <select name="usuario2" id="usuario2" class="form-control">
                                  <option value="{{numserie.idusuario}}">{{numserie.idusuario.nombrecompleto}}</option>
                                  {% for usuario in usuarios %}
                                    <option value="{{usuario.idusuario}}">{{usuario.nombrecompleto}}</option>
                                  {% endfor %}
                                </select>

                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-success btn-editar" >Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                      <!-- fin del modal editar -->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
             
              


            <!-- Modal de Agregar -->
            <div class="modal" id="myModaAgregar">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Cabecera del modal -->
                  <div class="modal-header">
                    <h4 class="modal-title">Editar categoria</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                  </div>

                  <!-- Contenido del modal De editar-->
                  <div class="modal-body">

                    <!-- inicio de form -->

                    <form  action="{% url 'numeroserieAgregar' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <label for="nombreTipo">Nombre</label><br>
                      <input type="text" name="nombreSerie" class="form-control"> <br>
                      <label for="nombreTipo">Tipo documento</label><br>

                      <select name="iddocumento" id="documento" class="form-control">
                        {% for documento in documentos %}
                        <option value="{{documento.idtipodocumento}}">{{documento.nombredocumento}}</option>
                        {% endfor %}
                      </select><br>

                      <label for="nombreTipo">Empleado a usar serie</label><br>
                      <select name="usuario" id="usuario" class="form-control">
                        {% for usuario in usuarios %}
                        <option value="{{usuario.idusuario}}">{{usuario.nombrecompleto}}</option>
                        {% endfor %}
                      </select>
                      
                      <div style="display:flex; margin-left:140px;">
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-success" id="agregar">Agregar</button>
                          </div>
                          <div class="modal-footer">
                              <button type="button" id="btn-cerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                      </div>
                    </form>
                  

                  <!-- fin del form -->

                </div>

                <!-- Pie del modal -->

              </div>
            </div>

            <!-- Fin del modal agregar-->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}