{% extends 'plantilla/base.html' %}
{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Ventas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Ventas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <h5 class="card-title">Editar venta</h5>
                            <h4>Datos del cliente:</h4>
                            <div style="display:flex">
                                <div>


                                    <label for=""><strong>Tipo cliente</strong></label><br>
                                    <input type="text" name="tipoCliente" id=""
                                        value="{{ventas.idcliente.idtipocliente.nomtipocliente}}" class="form-control"
                                        readonly>
                                </div>

                                <input type="hidden" value="{{ ventas.idventa }}" name="idVenta">


                                <!-- fijo -->
                                <div>
                                    <label for="">Nº Documento (dni/ruc)</label><br>
                                    <input value="{{ventas.idcliente.numdoc}}" class="form-control" type="text"
                                        name="doccliente" id="doccliente">
                                    <input type="button" class="btn btn-dark" value="search" id="consultar">
                                    <!-- Boton search -->
                                </div>

                                <!-- id venta -->
                                <div>

                                    <input value="{{ventas.idcliente.idcliente}}" class="form-control" type="hidden"
                                        name="idcliente" id="idcliente">

                                </div>

                                <br>
                                <div>

                                    <label for="">Razon social / Nombres completos</label><br>
                                    <input value="{{ventas.idcliente.razonsocial}}" class="form-control" type="text"
                                        name="nomcliente" id="nomcliente" readonly style="width: 400px;">
                                </div>
                                <br>
                                <div>

                                    <label for="">Dirección</label><br>
                                    <input value="{{ventas.idcliente.direccion}}" class="form-control" type="text"
                                        name="direccion" id="direccion" readonly style="width: 400px;">
                                </div>

                            </div>

                            <br>
                            <h4>Datos de la venta</h4>
                            <div style="display:flex">


                                <div class="input-group" id="compra">
                                    <label class="input-group-text">Serie:</label>
                                    <input type="text" name="serie" id="serie" value="{{ventas.idnumserie.numserie}}"
                                        class="form-control" readonly>

                                </div>
                                <div class="input-group" id="compra">
                                    <label class="input-group-text">Tipo igv:</label>
                                    <input type="text" name="serie" value="{{ventas.id_tipo_igv.tipo_igv}}"
                                        class="form-control" readonly>
                                    <input type="hidden" id="tipoIgv" value="{{ventas.id_tipo_igv.id_tipo_igv}}"
                                        class="form-control" readonly>


                                </div>

                                <div class="input-group" id="compra">
                                    <label class="input-group-text">Tipo pago:</label>
                                    <input type="text" name="serie" id="serie" value="{{ventas.idmodoPago.modo_pago}}"
                                        class="form-control" readonly>
                                </div>

                            </div>

                            <br>
                            <h4 id="datosProductoTitle">Datos de los productos</h4>
                            <br>
                            <!-- Table with stripped rows -->

                            <table class="table " id="tabla">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>

                                        <th scope="col">Unid. Medida </th>
                                        <th scope="col">Stock del producto</th>
                                        <th scope="col">Cantidad a vender</th>

                                        <th scope="col">Precio Unitario </th>
                                        <th scope="col">Total </th>

                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpo">
                                    {% for ventas_detalle in ventas_detalles %}

                                    <tr>

                                        <td>
                                            <div class="input-group">
                                                <input value="{{ventas_detalle.idproducto.idproducto}}" type="hidden"
                                                    name="producto[idproducto][]">


                                                <input value="{{ventas_detalle.idproducto.nomproducto}}"
                                                    class="form-control busqueda " type="list" list="opcionesBusqueda"
                                                    aria-label="With textarea" name="producto[nombre][]">

                                                <datalist id="opcionesBusqueda">

                                                </datalist>

                                            </div>
                                        </td>

                                        <td>
                                            <div class="input-group">

                                                <input type="hidden" value="{{ventas_detalle.idproducto.idunidad}}"
                                                    class="form-control" name="producto[unidad][]"
                                                    aria-label="With textarea">
                                                <input type="text" readonly
                                                    value="{{ventas_detalle.idproducto.idunidad.abrunidad}}"
                                                    class="form-control" aria-label="With textarea">

                                            </div>
                                        </td>

                                        <td>
                                            <div class="input-group">

                                                <input value="{{ventas_detalle.idproducto.stockactual}}"
                                                    id="stockActual" type="number" class="form-control"
                                                    aria-label="With textarea" readonly>

                                            </div>

                                        </td>
                                        <td>
                                            <div class="input-group">

                                                <input value="{{ventas_detalle.cantidad_formateado}}" type="text"
                                                    class="form-control" id="cantidad" name="producto[cantidad][]"
                                                    aria-label="With textarea">

                                            </div>

                                        </td>

                                        <td>

                                            <div class="input-group">
                                                <input value="{{ ventas_detalle.preciounitario_formateado }}"
                                                    type="number" class="form-control" id="precioUnitario"
                                                    name="producto[precioUnitario][]" aria-label="Precio Unitario">
                                            </div>


                                        </td>
                                        <td>
                                            <div class="input-group">

                                                <input value="{{ventas_detalle.preciosubtotal_formateado}}"
                                                    class="form-control" id="total" name="producto[subTotal][]"
                                                    readonlyaria-label="With textarea">

                                            </div>
                                        </td>

                                        <td>
                                            <a href="{% url 'eliminar_venta_detalle' ventas_detalle.idventadetalle %}"
                                                class="btn btn-danger btn-eliminar-detalle"
                                                data-id="{{ detalle.idventadetalle }}">ELIMINAR</a>
                                        </td>
                                    </tr>

                                    {% endfor %}


                                </tbody>

                            </table>

                            <div style="display: flex;">
                                <div>
                                    <button type="button" id="agregarProducto" class="btn btn-primary">Agregar
                                        Producto</button>
                                    <br><br>
                                    <div style="display:flex;">

                                        <div class="modal-footer">
                                            <button type="submit" id="guardar" class="btn btn-info">Editar venta
                                                de pago</button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success"
                                                style="margin-left: 1rem;">Regresar a ventas</button>
                                        </div>
                                        <!-- Agrega -->
                                        <div style="margin-left: 50px;" id="pagoTotalPagar">
                                            <span><strong>Total Gravada: S/.</strong></span>
                                            <input value="{{ventas.total_gravada_formateado}}" type="number"
                                                name="totalGravada" class="totalGravada form-control" readonly>

                                            <span> <strong>Total Exonerada: S/.</strong> </span>
                                            <input value="{{ventas.total_exonerada_formateado}}" type="number"
                                                name="totalExonerada" class="totalExonerada form-control" readonly>


                                            <span> <strong>Total igv:</strong> </span>
                                            <input value="{{ventas.total_igv_formateado}}" type="number" name="totalIgv"
                                                class="totalIgv form-control" readonly>

                                            <span> <strong>Pago Total: S/.</strong> </span>
                                            <input value="{{ventas.total_a_pagar_formateado}}" type="number"
                                                name="ventaTotal" class="ventaTotal form-control" readonly>


                                        </div>
                                    </div>
                                </div>
                        </form>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    $(document).ready(function () {
        $('.eliminar-btn').click(function () {
            var id = $(this).data('id');
            var csrfToken = '{{ csrf_token }}';  // Asegúrate de que el token CSRF esté disponible

            if (confirm('¿Estás seguro de que deseas eliminar este detalle de venta?')) {
                $.ajax({
                    url: '{% url "eliminar_venta_detalle" 0 %}'.replace('0', id),
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function (response) {
                        // Manejar la respuesta de éxito, por ejemplo, eliminar la fila de la tabla
                        alert('Detalle de venta eliminado exitosamente.');
                        location.reload();  // Recargar la página para reflejar los cambios
                    },
                    error: function (response) {
                        // Manejar errores
                        alert('Hubo un error al eliminar el detalle de venta.');
                    }
                });
            }
        });
    });


    $(function () {
        $('#tipoCliente').change(function () {
            if ($(this).val() == 1) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'buscarSerie' %}",
                    dataType: 'json',
                    data: {
                        doc: 1,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        // Limpia el select antes de agregar nuevas opciones
                        $('#serie').empty();

                        $.each(response, function (index, value) {
                            // Creo y agrego opciones al select
                            $('#serie').append('<option value="' + value.idnumserie + '">' + value.numserie + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'buscarSerie' %}",
                    dataType: 'json',
                    data: {
                        doc: 3,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        // Limpia el select antes de agregar nuevas opciones
                        $('#serie').empty();

                        $.each(response, function (index, value) {
                            // Creo y agrego opciones al select
                            $('#serie').append('<option value="' + value.idnumserie + '">' + value.numserie + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            }

        });
        //Hacer busqueda de precio unitario del producto escrito en el input descripción
        let busqueda = () => {
            $(".busqueda").on('input', function (e) {
                let currentRow = $(this).closest('tr');
                let productName = $(this).val();

                // Verifica si el producto ya existe en la lista
                let productoExiste = false;
                $('#cuerpo tr').each(function () {
                    let nombreProducto = $(this).find('.busqueda').val();
                    if (nombreProducto === productName && $(this).get(0) !== currentRow.get(0)) {
                        productoExiste = true;
                        return false; // Detiene el recorrido
                    }
                });

                if (productoExiste) {
                    alert("Producto ya existente en la lista");
                    $(this).val(''); // Limpia el campo de búsqueda
                    currentRow.find('#precioUnitario').val('');
                    currentRow.find('#stockActual').val('');
                    currentRow.find('#unidad').empty();
                    $('#opcionesBusqueda').empty(); // Limpia las opciones del datalist
                    return; // Sal de la función para evitar la adición del producto
                }

                $.ajax({
                    type: "POST",
                    url: "{% url 'buscarProducto' %}",
                    dataType: 'json',
                    data: {
                        busqueda: productName,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $('#opcionesBusqueda').empty();

                        // Producto precio
                        $.each(response.productos, function (index, value) {
                            let precioUnitario = value.preciounitario;
                            let stockActual1 = value.stockactual;
                            let opciones = '<option value="' + value.nomproducto + '"></option>';

                            $('#opcionesBusqueda').append(opciones);
                            currentRow.find('#precioUnitario').val(precioUnitario);
                            currentRow.find('#stockActual').val(stockActual1);
                        });

                        // Unidad
                        currentRow.find('#unidad').empty();
                        $.each(response.unidad, function (index, value) {
                            let opciones = '<option value="' + value.idunidad + '">' + value.abrunidad + '</option>';
                            currentRow.find('#unidad').append(opciones);
                        });
                    }
                });
            });
        }




        //Agregar producto
        $('#agregarProducto').click(function () {

            let nuevaFila = '<tr>';

            nuevaFila += '<td><div class="input-group"><input class="form-control busqueda" type="list" list="opcionesBusqueda" aria-label="With textarea" name="producto[nombre][]"><datalist id="opcionesBusqueda"></datalist></div></td>';

            nuevaFila += '<input class="form-control busqueda " type="hidden" list="opcionesBusqueda" aria-label="With textarea" name="producto[idproducto][]"></div></td>';


            nuevaFila += '<td><div class="input-group"><select name="producto[unidad][]" id="unidad" class="form-control" aria-label="With textarea">'
            nuevaFila += '<td><div class="input-group"><input class="form-control" type="number" readonly    id="stockActual"aria-label="With textarea"></div></td>'

            {% for unidad in unidades %}
            nuevaFila += '<option value="{{unidad.idunidad}}"> {{unidad.abrunidad}} </option>'
            {% endfor %}
            nuevaFila += '</select></div></td>';
            nuevaFila += '<td><div class="input-group"><input class="form-control" id="cantidad" name="producto[cantidad][]" aria-label="With textarea"></div></td>';
            //   nuevaFila += '<td><div class="input-group"><select name="producto[tipoIgv][]" id="" class="form-control" aria-label="With textarea"></select></div></td>';
            nuevaFila += '<td><div class="input-group"><input class="form-control" id="precioUnitario" name="producto[precioUnitario][]"  aria-label="With textarea"></div></td>';
            nuevaFila += '<td><div class="input-group"><input class="form-control" id="total" step="0.01"  name="producto[subTotal][]" readonly aria-label="With textarea"></div></td>';

            nuevaFila += '<td><button type="button" id="btnEliminar" class="btn btn-danger eliminarProducto">Eliminar</button></td>';
            nuevaFila += '</tr>';

            button = '<button type="button"  class="btn btn-primary">Agregar Producto</button>'

            $('tbody').append(nuevaFila);

            busqueda();


        });

        // Delegación de eventos para manejar clics en los botones "Eliminar" para que solo elimine la fila seleccionada 
        $('tbody').on('click', '#btnEliminar', function () {

            $(this).closest('tr').remove();
            busqueda();

        });


        busqueda();



        // $("#guardar").click(function () {
        //     // Obtener los datos del formulario
        //     var formData = new FormData($('form')[0]);

        //     // Realizar la solicitud AJAX
        //     $.ajax({
        //         type: "POST",
        //         url: "{% url 'guardarEditar' %}",
        //         data: formData,
        //         processData: false,  // Evitar que jQuery procese los datos automáticamente
        //         contentType: false,  // No establecer automáticamente el tipo de contenido
        //         success: function (response) {
        //             Swal.fire({
        //                 title: 'Venta editada exitosamente',
        //                 icon: 'success',
        //                 showCancelButton: true,
        //                 confirmButtonColor: '#3085d6',
        //                 cancelButtonColor: '#d33',
        //                 confirmButtonText: '¡Ok!',
        //             }).then((result) => {
        //                 if (result.isConfirmed) {
        //                     // Redireccionar solo si el usuario hace clic en "OK"
        //                     window.location.href = "{% url 'ventas' %}";

        //                 }
        //             });
        //         }
        //     });
        //     return false; // Prevenir el envío del formulario por defecto
        // });


        $("#guardar").click(function () {
    // Obtener los datos del formulario
    var formData = new FormData($('form')[0]);

    // Realizar la solicitud AJAX
    $.ajax({
        type: "POST",
        url: "{% url 'guardarEditar' %}",
        data: formData,
        processData: false,  // Evitar que jQuery procese los datos automáticamente
        contentType: false,  // No establecer automáticamente el tipo de contenido
        success: function (response) {
            console.log(response);  // Para depuración, mostrar la respuesta en la consola
            if (response.mensaje && response.mensaje.includes("Falta stock")) {
                console.log(response.mensaje);
                Swal.fire({
                    title: 'Falta stock',
                    html: response.mensaje,
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            } else if (response.mensaje === "Venta exitosa") {
                Swal.fire({
                    title: 'Venta editada exitosamente',
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '¡Ok!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log('Redireccionando a ventas');
                        window.location.href = "{% url 'ventas' %}"; // Utiliza la etiqueta Django para generar la URL
                    }
                });
            } else {
                console.error('Respuesta inesperada:', response);
            }
        },
        error: function (xhr, status, error) {
            console.error('Error en la solicitud AJAX:', error);
        }
    });
    return false; // Prevenir el envío del formulario por defecto
});


        // Buscar en la api de cliente
        $("#consultar").on("click", function () {
            $("#nomcliente").empty();
            var inputValue = $("#doccliente").val();

            if (inputValue.length === 8) {
                $.ajax({
                    url: "{% url 'buscarDni' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        doc: inputValue,
                        csrfmiddlewaretoken: '{{ csrf_token }}'

                    },
                    success: function (response) {
                        $("#nomcliente").empty();
                        // var data = JSON.parse(response);
                        var nombre = response.nombres;
                        nombre += " " + response.apellidoPaterno;
                        nombre += " " + response.apellidoMaterno;
                        $("#nomcliente").val(nombre);
                        $("#direccion").val("-");
                    },

                    error: function () {

                        console.log("Error");
                    }
                });
            } else if (inputValue.length === 11) {

                $.ajax({
                    url: "{% url 'buscarRuc' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        doc: inputValue,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $("#nomcliente").empty();
                        // var data = JSON.parse(response);
                        var nombre = response.razonSocial;
                        var direccion = response.direccion;
                        console.log(nombre + direccion);
                        $("#nomcliente").val(nombre);
                        $("#direccion").val(direccion);
                    },

                    error: function () {

                        console.log("Error");
                    }
                });
            } else {
                $("#nomcliente").val("Longitud inválida");
            }
        });

        // Calcular el total
        $("body").on("input", "#cantidad", function (e) {
            let currentRow = $(this).closest('tr');

            // Convertir a flotante la cantidad y el precio unitario
            let cantidad = parseFloat($(this).val()) || 0; // Asegurarse de que la cantidad es un número decimal
            let precioUnitario = parseFloat(currentRow.find("#precioUnitario").val()) || 0; // Asegurarse de que el precio unitario es un número decimal

            // Obtener el total anterior (debería ser decimal)
            let totalAnterior = parseFloat(currentRow.find('#total').val().trim()) || 0;

            console.log(totalAnterior);
            // Calcular el nuevo total de la fila
            let totalNuevo = isNaN(cantidad) || isNaN(precioUnitario) ? 0 : (precioUnitario * cantidad); // Total actual de la fila


            // Actualizar el total de la fila actual
            currentRow.find('#total').val(totalNuevo.toFixed(2)); // Mantener el formato decimal con dos decimales

            let idTipo = $("#tipoIgv").val();

            // Inicializar los valores actuales de los totales
            let totalGravada = parseFloat($(".totalGravada").val()) || 0;
            let totalIgv = parseFloat($(".totalIgv").val()) || 0;
            let totalExonerada = parseFloat($(".totalExonerada").val()) || 0;
            let ventaTotal = parseFloat($(".ventaTotal").val()) || 0;

            // Restar el total anterior de los valores globales
            if (idTipo == 1) {
                let igvDelProductoAnterior = parseFloat((totalAnterior / 1.18) * 0.18).toFixed(2);
                totalIgv -= parseFloat(igvDelProductoAnterior);
                totalGravada -= parseFloat(totalAnterior / 1.18);
            } else if (idTipo == 9) {
                totalExonerada -= parseFloat(totalAnterior);
            }

            // Sumar el nuevo total a los valores globales
            if (idTipo == 1) {
                let igvDelProductoActual = parseFloat((totalNuevo / 1.18) * 0.18).toFixed(2);
                totalIgv = (parseFloat(totalIgv) + parseFloat(igvDelProductoActual)).toFixed(2);
                totalGravada = ((parseFloat(totalGravada) + parseFloat(totalNuevo / 1.18))).toFixed(2);
                ventaTotal = (parseFloat(totalGravada) + parseFloat(totalIgv)).toFixed(2);
            } else if (idTipo == 9) {
                totalIgv = 0;
                totalExonerada = parseFloat(totalNuevo).toFixed(2);
                totalGravada = 0;
                ventaTotal = parseFloat(totalExonerada).toFixed(2);
            }

            // Actualizar los valores de los totales en el formulario
            $(".totalGravada").val(totalGravada);
            $(".totalIgv").val(totalIgv);
            $(".totalExonerada").val(totalExonerada);
            $(".ventaTotal").val(ventaTotal);
        });


    });
</script>

{% endblock %}