{% extends 'plantilla/base.html' %}
{% block main %}
<br><br><br><br>

<!-- En tu vista principal -->
<a href="<?= base_url('compras') ?>">Mostrar todas las compras</a>
<br>
<br><br><br>
<!-- Agrega la lógica para seleccionar fechas y enviar el formulario -->
<form action="<?= base_url('compras/buscarFecha') ?>" method="post">
    <label for="fecha_inicio">Fecha de inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" >

    <label for="fecha_fin">Fecha de fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" >

    <button type="submit">Mostrar compras por fecha</button>
</form>




    <h1>Lista de Compras</h1>

    <!-- Mostrar todas las compras o compras entre fechas -->
    <?php foreach ($compras as $compra): ?>
        <p><?= $compra['numcorrelativo'] ?> - <?= $compra['fechacompra'] ?></p>
    <?php endforeach; ?>
{% endblock %}



