{% extends 'plantilla/base.html' %}
{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Configuracion de la empresa</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Configuracion de empresa</li>
      </ol>
      <p>
        {% if modo == 1 %}
            <strong style="color: blue;">El sistema se encuentra en modo producción</strong>
        {% else %}
            <strong style="color: red;">El sistema se encuentra en modo desarrollo</strong>
        {% endif %}
    </p>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Configuración</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Ruc</th>
                  <th scope="col">Razón Social</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Modificar</th>
                  <th scope="col">Activar modo producción</th>
                  <th scope="col">Activar modo desarrollo</th>
                </tr>

              </thead>

              <tbody>
                {% for empresa in empresas %}
                <tr>
                  <td>{{empresa.ruc}}</td>
                  <td>{{empresa.razonsocial}}</td>
                  <td>{{empresa.direccion}}</td>
                  <td>{{empresa.telefono}}</td>
                  <td>
                    <a type="submit" id="btnEditar" class="btn " data-bs-toggle="modal" data-bs-target="#myModal2"><i
                        class="fa-solid fa-pen-to-square fa-2xl" style="color: #005eff;"></i></a>
                  </td>
                  <td>
                    <a  
                    href="{% url 'produccion' empresa.idempresa %}" 
                    class="btn btn-primary"
                    onclick="return produccion('{{ empresa.idempresa }}', this)">
                    Producción
                  </a >
                  </td>
                  <td>
                    <a  
                    href="{% url 'desarrollo' empresa.idempresa %}" class="btn btn-success" 
                    onclick="return desarrollo('{{ empresa.idempresa }}', this)">
                      Desarrollo</a >
                  </td>
                </tr>


            <!-- Modal de editar -->
            <div class="modal" id="myModal2">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Cabecera del modal -->
                  <div class="modal-header">
                    <h4 class="modal-title">Editar Empresa</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                  </div>

                  <!-- Contenido del modal De editar-->
                  <div class="modal-body">

                    <!-- inicio de form -->

                    <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <h4>Datos de la empresa</h4>

                      <label for="nombreProducto2"><strong>Ruc</strong></label><br>
                      <input type="hidden" class="form-control" name="idempresa" id="nombreProducto2" value="{{empresa.idempresa}}">
                      <input type="text" class="form-control" name="ruc" id="nombreProducto2" value="{{empresa.ruc}}"><br>

                      <label for="nombreProducto2"><strong>Razón social</strong></label><br>
                      <input type="text" class="form-control" name="razonSocial" id="nombreProducto2" style="width: 465px;" value="{{empresa.razonsocial}}"><br>

                      <label for="nombreProducto2"><strong>NombreComercia</strong></label><br>
                      <input type="text" class="form-control" name="nombreComercia" id="nombreProducto2" style="width: 465px;" value="{{empresa.nombrecomercial}}"><br>

                      <label for="nombreProducto2"><strong>Dirección</strong></label><br>
                      <input type="text" class="form-control" name="Direccion" id="nombreProducto2" style="width: 465px;" value="{{empresa.direccion}}"><br>


                      <label for="nombreProducto2"><strong>Telefono</strong></label><br>
                      <input type="text" class="form-control" name="telefono" id="nombreProducto2" style="width: 465px;" value="{{empresa.telefono}}"><br>


                      <label for="nombreProducto2"><strong>Usuario secundario(User)</strong></label><br>
                      <input type="text" class="form-control" name="user" id="nombreProducto2" style="width: 465px;" value="{{empresa.usersec}}"><br>


                      <label for="nombreProducto2"><strong>Usuario secundario(Password)</strong></label><br>
                      <input type="text" class="form-control" name="password" id="nombreProducto2" style="width: 465px;" value="{{empresa.passwordsec}}"><br>

                      <label for="nombreProducto2"><strong>Departamento</strong></label><br>

                      <select class="form-select" id="mySelect" aria-label="Default select example" name="departamento">
                        <option value="">Seleccione un departamento</option>
                        {% for departamento in departamentos %}
                        <option value="{{departamento.iddepartamentos}}">{{departamento.nombredepartamento}}</option>
                        {% endfor %}    
                        </option>

                      </select><br>

                      <label for="nombreProducto2"><strong>Provincia</strong></label><br>
                      <select class="form-select" id="secondSelect" aria-label="Default select example"
                        name="provincia">
                      </select><br>


                      <label for="nombreProducto2"><strong>Distrito</strong></label><br>
                      <select class="form-select" id="distrito" aria-label="Default select example" name="distrito">
                      </select><br>

                      <label for="nombreProducto2"><strong>Ubigueo</strong></label><br>
                      <input type="text" class="form-control" id="ubigeo" name="ubigueo" style="width: 465px;" readonly value="">
                      <br>
                      <!-- <label for="nombreProducto2">Imagen de la Empresa</label><br>
                      <input type="file" name="imagenEmpresa" id="nombreProducto2" style="width: 465px;"> -->

                      <div style="display:flex; margin-left:140px;">

                        <div class="modal-footer">
                          <button type="" class="btn btn-secondary" id="modalEditar"
                            data-bs-dismiss="modal">Editar</button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>


                  </div>
                  </form>

                  <!-- fin del form -->

                </div>

                <!-- Pie del modal -->

              </div>
            </div>

            <!-- Fin del modal Editar-->
            {% endfor %}
          </tbody>

        </table>
        <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

  $(function () {

    $('#mySelect').change(function () {
      $('#secondSelect').empty();
      // Obtener el valor seleccionado
      var selectedValue = $(this).val();
      // Realizar la solicitud AJAX
      $.ajax({
        type: "GET",
        dataType: "JSON",
        url: "{% url 'buscarProvincias' %}",
        data: { 
          selected_value: selectedValue,csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {

          $.each(response, function (index, item) {

            var idProvincia = item.idprovincia;
            var nombreProvincia = item.nombreprovincia;
            var idDepartamento = item.iddepartamento;

            $('#secondSelect').append('<option value="' + idProvincia + '">' + nombreProvincia + '</option>');


          });
        }
      })
    })


    $('#secondSelect').change(function () {
      $('#distrito').empty();
      var selectedValue = $(this).val();

      $.ajax({
        type: "GET",
        dataType: "JSON",
        url: "{% url 'buscarDistritos' %}",
        // dataType:'json',
        data: { selected_value: selectedValue,csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function (response) {

          $.each(response, function (index, item) {

            var idProvincia = item.iddistrito;
            var nombreProvincia = item.nombredistrito;
            var ubigueo = item.ubigeo;

            $('#distrito').append('<option value="' + idProvincia + '">' + nombreProvincia + '</option>');


          });
        }
      })
    })


    $('#distrito').change(function () {
      $('#ubigeo').empty();
      var selectedValue = $(this).val();

      $.ajax({
        type: "GET",
        dataType: "JSON",
        url: "{% url 'ubigueo' %}",
        // dataType:'json',
        data: { selected_value: selectedValue,csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function (response) {


          $.each(response, function (index, item) {

            var ubigueo = item.ubigeo;

            $('#ubigeo').val(ubigueo);
          });
        }
      })
    })

    $('#pro').click(function () {
      mododev = 1;
      $.ajax({
        type: "GET",

        url: "",

        data: { mododev1: mododev },
        success: function (response) {
          alert('Sistema en modo producción');

        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('Error');
        }
      })
    })

    $('#desa').click(function () {
      mododev = 0;
      $.ajax({
        type: "GET",

        url: "",

        data: { mododev1: mododev },
        success: function (response) {
          alert('Sistema en modo desarrollo');

        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('Error');
        }
      })
    })


  $("#modalEditar").click(function(){
  // Obtener los datos del formulario
  var formData = new FormData($('form')[0]);
  // Realizar la solicitud AJAX
  $.ajax({
      type: "POST",
      url: "{% url 'editarEmpresa' %}",
      data: formData,
      processData: false,  // Evitar que jQuery procese los datos automáticamente
      contentType: false,  // No establecer automáticamente el tipo de contenido
      success: function (response) {
          Swal.fire({
              title: 'Datos de la empresa editado exitosamente',
              icon: 'success',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '¡Ok!',
          }).then((result) => {
              if (result.isConfirmed) {
                  // Redireccionar solo si el usuario hace clic en "OK"
                  window.location.href=  "{% url 'configuracion' %}";

              }
          });
      }
  });
  return false; // Prevenir el envío del formulario por defecto
}); 
});


function desarrollo(idproducto, enlace) {
  let urlEliminar = $(enlace).attr("href");
  Swal.fire({
    title: 'Sistema en modo desarrollo',
    icon: 'success',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: '¡Ok!',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {

      // Redirige a la URL para eliminar la compra si el usuario confirma
      $.ajax({
        type: "GET",
        url: urlEliminar,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}, // Incluye el token CSRF en la solicitud
        success: function(response) {
          window.location.href='configuracion'
        },

      });

    }
  });
  return false; // Detiene la acción predeterminada del enlace
}


function produccion(idproducto, enlace) {
  let urlEliminar = $(enlace).attr("href");
  Swal.fire({
    title: 'Sistema en modo produccion',
    icon: 'success',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: '¡Ok!',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {

      // Redirige a la URL para eliminar la compra si el usuario confirma
      $.ajax({
        type: "GET",
        url: urlEliminar,
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}, // Incluye el token CSRF en la solicitud
        success: function(response) {
          window.location.href='configuracion'
        },

      });

    }
  });
  return false; // Detiene la acción predeterminada del enlace
}


</script>
{% endblock %}